.heading-style{
    color: #22a59c;
}
.label-style{
    color: #616168e2;
}

.asteriskStyle{
    top: 0; right: 0; font-size: 1.2em; 
}

.passwordStyle{
    color: #b1b3b3;
    height: 19px;
}

.mandatoryColor {
    color: #eb445a;
}